.leftPanel {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.turnIndicator {
  background-color: #40a02b;
  color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
}

.contentPanel {
  height: 450px;
  background-color: #fffbf2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.panelContent {
  padding: 16px;
  color: #181926;
}

.panelContent h3 {
  margin: 0 0 12px 0;
  font-size: 1.1em;
  font-weight: 600;
}

.chatContainer {
  background-color:#fffbf2;
  padding: 8px;
  border-radius: 4px;
  height: 200px;
  overflow-y: auto;
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.navButton {
  padding: 8px;
  border-radius: 6px;
  border: 0px solid black;
  background-color: #40a02b;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s;
}

.navButton:hover {
  border: 1px solid #40a02b;
  color: white;
}

.navButton.active {
  background-color: #fffbf2;
  border: 2px solid #fffbf2;;
  color: black;
}
